@import "../variables";
$-topnav-bar: #{$namespace}topnav-bar;
$-topnav-bar-button: #{$namespace}topnav-bar-button;
$-topnav-bar-size: 44px;


.#{$-topnav-bar}{
	height: $-topnav-bar-size;
	z-index: 99;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
  & > a,& > .#{$-topnav-bar-button}{
  	position: absolute;
  	top: 0;
  	line-height: $-topnav-bar-size;
  }
  & > h4{
  	margin: auto;
  	line-height: $-topnav-bar-size;
  	text-align: center;
  }
  & > .#{$-topnav-bar-button}:focus{
  	outline: none;
  } 
  & > a{
  	left: 0;
  }
  & > .#{$-topnav-bar-button}{
  	right: 0.3rem;;
  	padding: 0;
  	margin: 0;
  	border: none;
  	background: none;
  }
}